{%  extends "template.html" %}

{% block title %}Homepage{% endblock %}

{% block body %}
{% if session['position'] == 0 %}
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 flex-column" bg-success id="buttonColumn">
            <button class="btn btn-lg btn-block btn-light btn-outline-dark" onclick="display('assign');">Assign</button>
            <button class="btn btn-lg btn-block btn-light btn-outline-dark" onclick="display('projectList');">Projects</button>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10" id="contentColumn"> </div>
    </div>
{% else %}
    <div class="card text-center">
        <div class="card-header"> Projects </div>
    </div>
    {% if projects|length > 0 %}
        <ul class="list-group list-group-flush text-center">
            {% for item in projects %}
                <li class="list-group-item">
                <form method="post" action="link_project" class="inline">
                  <button type="submit" name="project" value={{item['name']}} class="link-button">
                    {{item['name']}}
                  </button>
                </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning"> You are not in any projects currently. </p>
    {% endif %}
    <br>
{% endif %}

<script type="text/javascript">
    var display = function(type) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('contentColumn').innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/getHTML?type="+type, true);
        xhttp.send();
    }
</script>
{% endblock %}
