{%  extends "template.html" %}
{% block title %}Inbox{% endblock %}
{% block body %}


<center><a href="/compose" class="btn btn-info">Compose</a></center>

<br>


{% for msg in messages %}
<form action="/reply_delete">
    <div id={{ loop.index }} class="card border-primary">
        <!-- <input name="rowid" type="hidden" value={{msg[5]}}> -->
        <div class="card-header">
            <h4>{{ msg[2] }}</h4>
        </div>
        <div class="card-header">
            From {{ msg[1] }}
        </div>
        <div class="card-body">
            {{ msg[3] }} 
        </div>
        <table class="table">
            <tr>
                <td>Sent {{msg[4]}}</td>
                <td>
                    <button type="submit" name="reply" class="btn btn-info" value={{msg[1]}}>Reply</button>
                </td>
                <td>
                    <button type="submit" name="delete" class="btn btn-info" value={{msg[5]}}>Delete</button>
                </td>
            </tr>

        </table>
    </div>
    <br>
</form>

{% endfor %}



{% endblock %}
