{%  extends "template.html" %}
{% block title %}Inbox{% endblock %}
{% block body %}


<a href="/compose">compose</a>
<br>


{% for msg in messages %}
<form action="/reply">
    <div name="rowid" value={{msg[5]}} class="card border-primary">
        <div class="card-header">
            <h4>{{ msg[2] }}</h4>
        </div>
        <div class="card-header">
            From {{ msg[1] }}
        </div>
        <div class="card-body">
            {{ msg[3] }} 
        </div>
        <table class="table">
            <tr>
                <td>Sent {{msg[4]}}</td>
                <td>
                    <input type="submit" class="btn btn-info" value="Reply">
                    <!-- <a href="/reply" class="btn btn-info" role="button">Reply</a> -->
                </td>
            </tr>

        </table>
    </div>
    <br>
</form>

{% endfor %}


</form>
{% endblock %}




























<!-- Messages: -->
<!-- <br> -->
<!-- {%if messages %} -->
<!-- <div class="card-group"> -->
<!--     {% for message in messages %} -->
<!--     <div class="card"> -->
<!--         <div class="card-body"> -->
<!--             <h5 class="card-title">{{ message['description'] }}</h5> -->
<!--             <p class="card-text">{{ message['message'] }}</p> -->
<!--         </div> -->
<!--         <div class="card-footer"> -->
<!--         </div> -->
<!--     </div> -->
<!--     {% endfor %} -->
<!-- </div> -->
<!-- {% else %} -->
<!-- Messages are cool to have I guess. -->
<!-- {% endif %} -->
<!-- <form action=""> -->
<!--     <div class="form-group"> -->
<!--         <label for="exampleFormControlTextarea1">Your response:</label> -->
<!--         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
<!--     </div> -->
<!--     <br> -->
<!--     To: -->
<!--     {% if employees%} -->
<!--     <select name="workers" multiple> -->
<!--         {% for item  in employees %} -->
<!--         <option value={{item}}>{{item}}</option> -->
<!--         {% endfor %} -->
<!--     </select> -->
<!--     {% endif %} -->
<!--     <br> -->
<!--     <input class="btn btn-primary" type="submit" value="Send"> -->
