#workbuddy {
    /* Removes link underline from title link to landing */
    text-decoration: none
}

.container {
    height: auto;
    min-height: 600px;
    overflow: hidden;
}

#timeline {
  overflow: hidden
}
#timeline svg { padding: 20px 30px; overflow: hidden }
.axis text {
  font-family: sans-serif;
  font-size: 10px
}
.axis path,
.axis line {
  stroke: 3px;
  fill: none;
  stroke: black;
  stroke-linecap: round
}
.node {
  stroke-width: 3px;
  stroke: white
}
.node-label {
  font-family: sans-serif;
  font-size: 11px
}
.node.proficient {
  fill: green;
  stroke: green
}
.node.not-proficient {
  fill: orange;
  stroke: orange
}
.node.summative {
  stroke: none
}
.node.formative { fill: white }
