{%  extends "template.html" %}

{% block title %}Login/Register{% endblock %}
{% block body %}
<div>
    <p>Login</p>
    <form action="/auth_login" method="post">
        <div>
        <label for="username">Username</label>
        <input type="username" name="username" placeholder="Username" required>
        </div>
        
        <div>
        <label for="pw">Password</label>
        <input type="password" name="pw" placeholder="password" required>
        </div>

        <input type="submit" name="submit" value="login">
    </form>

</div>
<div>
    <p>Register</p>
    <form action="/auth_register" method="post">
        <div>
        <label for="username">Username</label>
        <input type="username" name="username" placeholder="Username" required>
        </div>
        
        <div>
        <label for="pw">Password</label>
        <input type="password" name="pw" placeholder="password" required>
        </div>

        <input type="submit" name="submit" value="register">
    </form>

</div>
{% endblock %}
