<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
	</head>
    <body>
	<center>
	WorkBuddy
	</center>
        {% block body %}
            Template
        {% endblock %}

        <footer>
            <br>
            Copyright &copy; 2019 Three Warring Kingdoms
        </footer>
    </body>
</html>
