{%  extends "template.html" %}

{% block title %}Landing{% endblock %}
{% block body %}
<form action="/create" method="post">
<label for="name">Enter Name:</label>
<input type="text" name="name" placeholder="Name" required></input>
<br>
<label for="taskers">Taskers:</label>
{% if employees%}
<select name="workers" multiple>
  {% for item  in employees %}
  <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
{% endif %}
<button type="submit" class="btn btn-light btn-outline-success">Create Project</button>
</form>
{% endblock %}

