{%  extends "template.html" %}

{% block title %}Homepage{% endblock %}

{% block body %}
{% if session['position'] == 0 %}
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 flex-column" bg-success id="buttonColumn">
            <button class="btn btn-lg btn-block btn-light btn-outline-dark" onclick="display('todo');">Todos</button>
            <button class="btn btn-lg btn-block btn-light btn-outline-dark" onclick="display('assign');">Assign</button>
            <button class="btn btn-lg btn-block btn-light btn-outline-dark" onclick="display('projects');">Projects</button>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10" id="contentColumn"> </div>
    </div>
{% else %}
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Featured
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="project">Project 1</a></li>
        <li class="list-group-item"><a href="project">Project 2</a></li>
        <li class="list-group-item"><a href="project">Project 3</a></li>
      </ul>
    </div>
    <a class="btn btn-primary" href="create_project" role="button">Create Project</a>
{% endif %}
{% endblock %}
