{%  extends "template.html" %}

{% block title %}Login{% endblock %}
{% block body %}
<div class="card bg-light mb-3">
    <center>
        <div class="card-header">Login</div>
        <form action="/auth_login" method="post" id="login_form">
            <div>
                <label for="username">Username</label>
                <input type="username" name="username" placeholder="Username" required>
            </div>

            <div>
                <label for="pw">Password</label>
                <input type="password" name="pw" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-light btn-outline-dark">Login</button>
            <br>
        </form>


    </center>
</div>
{% endblock %}
