
<div class="card bg-light mb-3 text-center">
    <div class="card-header list-group text-center justify-content-center" style="flex-direction:row;">
        <button class="list-group-item btn btn-light" onclick="registerForm();"> Register </button>
        <button class="list-group-item btn btn-light active" onclick="loginForm();"> Login </button>
    </div>
    <form action="/auth_login" method="post" id="login_form">
        <div>
            <label for="username">Username</label>
            <input type="username" name="username" placeholder="username" required>
        </div>
        <div>
            <label for="pw">Password</label>
            <input type="password" name="password" placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-light btn-outline-dark">Login</button>
    </form>
</div>
