{%  extends "template.html" %}

{% block title %}Landing{% endblock %}
{% block body %}
<form action="/createproj">
<label for="name">Enter Name:</label>
<input type="text" placeholder="Name" required></input>
<br>
<label for="taskers">Taskers:</label>
{% if employees%}
<select multiple>
  {% for item  in employees %}
  <option>{{item}}</option>
  {% endfor %}
</select>
{% endif %}
<button type="submit" class="btn btn-light btn-outline-success">Create Project</button>
</form>
<div>
    Assign to:
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
<a class="btn btn-primary" href="task" role="button">Create task</a>
</div>
Set Dates:
Clickable timeline
<br>
Issues:
  <div class="card">
    <div class="card-body">bla bla bla</div>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Your response:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input class="btn btn-primary" type="submit" value="Create Issue">
<br>
{% endblock %}
