{%  extends "template.html" %}

{% block title %}Schedule{% endblock %}
{% block body %}
<center>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="2">Schedule</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Event 1</th>
      <td>7:00-9:00a</td>
    </tr>
    <tr>
      <th scope="row">Event 2</th>
      <td>9:00a-4:00p</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>4:00p-8:00p</td>
    </tr>
  </tbody>
</table>
</center>
{% endblock %}
