{%  extends "template.html" %}

{% block title %}Landing{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <a class="nav-item nav-link" href="account">Account</a>
      <a class="nav-item nav-link" href="logout">Logout</a>
    </ul>
  </nav>
<div>
    Assign task to:
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Claurice</button>
    <button class="dropdown-item" type="button">Nathan</button>
    <button class="dropdown-item" type="button">Robert</button>
  </div>
</div>
    Task:
	<input type="text" name="task" required>
</div>
<br>
Issues:
  <div class="card">
    <div class="card-body">Scripting is off.</div>
  </div>
<br>
{% endblock %}

