{%  extends "template.html" %}

{% block title %}Landing{% endblock %}
{% block body %}

<div id="form">

</div>

Go login or register in the links below.

<div>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
</div>

<script type="text/javascript">
    window.onload = function() {
        loginForm();
    };

    var loginForm = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('form').innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/getHTML?type=login", true);
        xhttp.send();
    }

    var registerForm = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById('form').innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/getHTML?type=register", true);
        xhttp.send();
    }
</script>
{% endblock %}
